.homePage {
  width: 100%;
}

.content {
  max-width: 1653px;
  width: calc(100% - 48px);
  margin: 0 auto;
  padding: var(--space-32) 0;
}

/* SM: 768-991px */
@media (max-width: 991px) {
  .content {
    width: calc(100% - 32px);
  }
}

/* XS: <=767px */
@media (max-width: 767px) {
  .content {
    width: calc(100% - 32px);
    padding: var(--space-16) 0;
  }
}
